# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/
ENV/

# Environmental variables & secrets
.env
*.env

# IDE configurations
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/

# Data storage & local database dumps
*.db
*.sqlite
*.log
*.bin

# OS specific files
.DS_Store
Thumbs.db